 *{
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}

.body{

	max-width: 100%;
	overflow-x: hidden;
}


#myNavbar{
	background-color: #000000 !important;
	height: auto;
	z-index: 100;


}
#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  

  position: absolute; 
  background-size: cover;
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;

}

.enter{
  /*color: #000000;*/
  border-color: red;
  position: absolute;
  top: 90%;
  left: 43%;
}

.btn {

  border-color: red;
  /*color: red*/
  /*border: 2px solid black;*/
  background-color: transparent;
  color: red;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}


.danger:hover {
  background: #f44336;
  color: white;
}

.navbar-toggler {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='red' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  justify-content: center;
  background-size: cover;
  border-color: red;
} 


.jumbotron {
	background: url(../images/back2.jpg)no-repeat center center;
	background-size: cover;
	height: 100%;
	
}

.space
{
    height: 500px;
}

#juan{
	color: red;
	position: relative;
	top: 80px;
}

#quote{
	color:red;
	position: relative;
	top: 80px;
	left:5px;
}

.fixed-top {
    top: 0;
    border-width: 0 0 1px;
}

#gallery{
	background-color: #000000 !important;
	
};

#rowgallery{
	
	width: 100vw;
  	height:100vh;
}



.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }

  #footerdet{
	display: inline-block;
	justify-content: :  center;
  }

  #footerlogo{
  	display: inline-block;
  	justify-content: center;
  }
}

.gallery{
	padding-top: 50px;
	margin-top: 50px;
}


.GalHead{
	text-align: center;
	color: red;
}


#conDetails{
	color:blue;
}

#contact_det{
	color:red; 
	font-family: crimson text
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
}
.row{
	padding-top: 5px;
	padding-bottom: 5px;
}

.map{
	padding-top: 10px;
	padding-bottom: 15px;
}
#footer{
	padding-top: 5px;
	margin:0; 
	background-color: black;	
	padding-bottom: 5px;
	/*display: inline-block;*/
}

 
 .fa {
  padding: 10px;
  font-size: 25px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  color: #212529;
  display: inline-block;
  

}

.link-footer{
	color: #212529;
}
#listdiv {
  margin-left: auto;
  margin-right: auto;
  display: table;
  text-align: center;
}

#footerdet{
	display: inline-block;
	text-align: left;
}
.copyright{
	font-size: 10px;
}

.img-responsive2{
	height: 100px;
	width: 100px;
}

.nav-link{
	color: blue !important;
	font-weight: 700;
}


